<div class="app-content circuit">
    <header>
        <p-dropdown (onChange)="onCircuitSelected($event)" [options]="circuits" [(ngModel)]="selectedCircuit"
            optionLabel="name" placeholder="Selecione o circuito" />
    </header>
    <main>
        @if (currentRow) {
        <div class="chart">
            <p-chart class="chart-js" #chart type="doughnut" [data]="data" [options]="options" />
        </div>
        <div class="text">
            <div class="timing">
                {{timing}}
            </div>
            <div class="title">
                {{title}}
            </div>
        </div>
        <div class="list">
            <ul>
                @for (item of exercises; track item.code) {
                <li [ngClass]="{selected: posRow === item.code}">{{item.name}}</li>
                }
            </ul>
        </div>
        }
    </main>
    <footer>
        @if (selectedExcercise) {
        <div (click)="togglePlay()" class="buttons">
            <p-button [icon]="icon" [rounded]="true" />
        </div>
        }
    </footer>
</div>