.circuit {

    color: whitesmoke;

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .chart {
        margin-top: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        .chart-js {
            width: 80%;
            display: block;
        }

    }

    main {
        .text {
            margin-top: 4px;
            text-align: center;
            width: 100%;
            font-weight: bold;
            font-size: 24px;
        }

        .list {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 4px;
        }

        ul {
            list-style: none;
            padding: 16px;
            width: 80%;

            li {
                background-color: aliceblue;
                color: #9b42c2;
                padding: 8px;
            }

            li.selected {
                color: black;
                font-weight: bold;
            }
        }
    }

    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

    }
}